ul {
  margin: 0;
  padding: 0px;
}

h3,
input{
  margin: 0;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background: none;
  border: 0px;
}

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  display: block;
  text-align: right;
}

.matrix_horizontal-margin_center {
  margin: 0 auto;
}

.matrix__img {
  width: 100%;
  margin-bottom: -3px;
}

.matrix__link {
  font-family: fantasy, cursive;
}

.tasks__container {
  width: 500px;
  margin: 16px auto 0;
}

.tasks__add-item {
  margin-bottom: 16px;
}

.add-item__title {
  padding: 30px 0 10px;
  margin-bottom: 20px;
}

.todo__title {
  padding: 30px 0 10px;
}

.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

.task {
  width: 56%;
}

.task_display_inline-block {
  display: inline-block;
  flex-grow: 1;
}

.row {
  display: flex;
}

.button {
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

.input-text {
  font-size: 18px;
  line-height: 18px;
  max-height: 19px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-text_horizontal-padding_9px {
  padding: 0 9px;
}

.input-text:focus {
  color: #333;
}

.add-item__input-text {
  width: 318px;
}

.list-item {
  border-bottom: 1px solid #eee;
  max-height: 32px;
}

.incomplete-tasks-list__item,
.completed-tasks-list__item {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px 0;
}

.list-item__input-checkbox {
  margin: 0 10px;
}

.list-item__input-text {
  width: 226px;
  display: none;
}


.edit-mode__input-text {
  display: inline-block;
  width: 224px;
}

.edit-mode__label {
  display: none;
}

.list-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.completed-tasks-list-item__label {
  text-decoration: line-through;
  color: #888;
}

.delete-button {
  max-height: 32px;
}

.delete-button__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-button__img:hover {
  transform: rotateZ(0);
}

@media (max-width:768px) {

  .matrix { 
    text-align: center;
  }

}
